@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: rgb(32, 44, 55);
  --elements: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);

  --fontWeight_light: 300;
  --fontWeight_medium: 600;
  --fontWeight_bold: 800;

  --fontSize_small: 14px;
  --fontSize_medium: 16px;

  --dropShadow: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1));
  --dropShadowSmall: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.04));

  --buttonRadius: 3px;
}

body {
  font-family: 'Nunito Sans';
  background-color: var(--background);
  color: var(--text);
}

button,
select,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* HEADER Styling */
header {
  background-color: var(--elements);
  padding: 1rem;
  display: flex;
  margin: 0 0 2rem;
  filter: var(--dropShadowSmall);
}

.header-content-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.themeButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & svg {
    width: 1rem;
  }
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 0 2rem;
  flex-wrap: wrap;
  column-gap: 2rem;

  & > div {
    height: 53px;
    filter: var(--dropShadow);
  }
}

.searchbar-container {
  background-color: var(--elements);
  display: flex;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  transition: width 250ms ease-in-out;

  & input {
    background-color: transparent;
    border: none;
    padding: 0.8rem 2rem 0.8rem 0;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--text);
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1.1rem;
  }
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

.filter-container {
  display: flex;
}

.regionFilter {
  background-color: var(--elements);
  border-radius: 5px;
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  align-items: center;
  border: none;
  z-index: 2;

  &:focus-visible {
    outline: none;
  }

  & option {
    width: 100%;
  }
}

.regionFilter option:first-of-type {
  padding: 0.5rem 0 0;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* SINGLE PAGE Styling */
.single-page-country-container {
  margin: 4rem auto 0;
}

.single-page-country {
  display: flex;
  margin: 4rem 0 0;

  & img {
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    width: 400px;
    height: fit-content;
    margin: 0 0 auto;
    flex: 1;
  }
}

#light .single-page-country img {
  border: 15px solid rgba(0, 0, 0, 0);
  border-radius: 0;
}

#back {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  line-height: 1;
  padding: 7px 20px;
  margin: 0 0 0 15px;

  & svg {
    width: 1rem;
  }
}

#back,
.border-countries a {
  background-color: var(--elements);
  border: none;
  border-radius: var(--buttonRadius);
  color: var(--text);
  filter: var(--dropShadow);
  text-decoration: none;
}

.country-details-container {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & h4 {
    font-size: 1.8rem;
    margin: 0 0 1rem;
  }

  & p {
    font-weight: var(--fontWeight_light);
  }

  & span {
    font-weight: var(--fontWeight_medium);
  }
}

.content-container .single-page-country .country-details {
  display: flex;
  gap: 2rem;
  margin: 0 0 3.5rem;
  padding: 0;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.border-countries {
  margin: auto 0 0 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 7px;
  align-items: baseline;
  max-width: 480px;

  & span {
    margin: 0 0.5rem 0 0;
  }

  & a {
    padding: 5px 20px;
  }
}

.border-countries a {
  font-size: 0.8rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 950px) {
  .content-container .single-page-country {
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: start;

    & .country-details {
      flex-direction: column;
    }
  }

  .country-details-container {
    padding: 0;
  }

  #back {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 6rem;

    & h2 {
      font-size: 1.1rem;
    }
  }

  .content-container .single-page-country {
    flex-direction: column;
  }

  .content-container .single-page-country img {
    width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
    left: -11px;
    border: 11px solid rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 375px) {
  .search-filter-container {
    flex-direction: column;

    & .searchbar-container {
      width: 100%;
      margin: 0 0 3rem;
    }
  }

  .content-container .countries-container {
    width: 80%;
    margin: 0 auto;
  }

  .content-container .country-card .country-details {
    padding: 1.5rem 1.5rem 2.5rem;

    & p:not(:last-of-type) {
      margin: 0 0 0.4rem;
    }
  }

  .content-container .country-card {
    flex: 100%;

    & img {
      width: 100%;
    }
  }
}
